.conditionTextBox {
    width: 70px;
    margin: 0 5px;

    @media (max-width: 600px) {
        width: 50px;
        margin: 0 3px;
    }
}

.ratingConditionCell {
    width: 20%;

    @media (max-width: 960px) {
        width: 30%;
    }

    @media (max-width: 600px) {
        width: 40%;
    }
}
