.pageHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 5px;
}

.headerTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }
  