.viewerMenuContainer {
    position: fixed;
    bottom: 10%;
    // right: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.conditionTextBox {
    width: 70px;
    margin: 0 5px;
}

.ratingConditionCell {
    width: 20%;
}

.menuButtonSize {
    width: 70px;
    height: 70px;
}

.divider {
    margin: 20px 0;
}