.treeViewerContainer {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 20%;
    max-width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.showTreePanel {
    transform: translateX(0);
}

.hideTreePanel {
    transform: translateX(-100%);
}

.viewerMenuContainer {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.assessmentPanel {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 20%;
    max-width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.showAssessmentPanel {
    // display: block;
    transform: translateY(0);
}

.hideAssessmentPanel {
    transform: translateY(-210%);
    // display: none;
}

.conditionTextBox {
    width: 70px;
    margin: 0 5px;
}

.radingConditionCell {
    width: 20%;
}