.structureDetailTitleBox {
    margin-top: 16px;
    margin-bottom: 2px;
    margin-left: 16px; 
}


.structureDetailTitle {
    color: var(--mui-palette-text-secondary);
    font-weight: 600;
}

.structureDetailSectionBox {
    padding-left: 16px; /* 'px: 2' => 2 * 8px */
    padding-right: 16px; /* 'px: 2' => 2 * 8px */
    padding-bottom: 16px; /* 'pb: 2' => 2 * 8px */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling for overflowing content */
}

